environments:
  default:
    values:
      - repoUrl: https://github.com/max06/deployments
      - baseDir: clusters
---
helmfiles:
  - path: clusters/in-cluster/apps/argocd/helmfile.yaml.gotmpl

repositories:
  - name: argo
    url: https://argoproj.github.io/argo-helm
releases:
  - name: root
    namespace: argocd
    chart: argo/argocd-apps
    values:
      - appSets.yaml.gotmpl
