# code: language=helm

helmfiles:
  - path: git::https://github.com/max06/atlas.git@helmfile.yaml.gotmpl?ref=main
    values:
      - atlas:
          appTemplates: apps
          deploymentDefinitions: clusters
          cwd: {{ exec "pwd" (list) }}
