repositories:
  - name: n8n
    url: ghcr.io/n8n-io/n8n-helm-chart
    oci: true

releases:
  - name: n8n
    chart: n8n/n8n
    namespace: n8n
    version: 1.9.0
    values:
      - queueMode:
          enabled: false
        secretRefs:
          env:
            N8N_HOST: "n8n.{{ .Values.primary_domain }}"
            N8N_PROTOCOL: "https"
            N8N_ENCRYPTION_KEY: "{{ .Values.encryption_key }}"
        license:
          enabled: true
          activationKey: "{{ .Values.license_activation_key }}"
        config:
          extraEnv:
            - name: N8N_EDITOR_BASE_URL
              value: "https://n8n.{{ .Values.primary_domain }}"
        persistence:
          enabled: true
        resources:
          main:
            limits:
              memory: 2048Mi
            requests:
              memory: 512Mi
        ingress:
          enabled: true
          hosts:
            - host: "n8n.{{ .Values.primary_domain }}"
              paths:
                - path: /
                  pathType: Prefix
