---
repositories:
  - name: argo-helm
    url: https://argoproj.github.io/argo-helm
releases:
  - name: argocd
    chart: argo-helm/argo-cd
    version: 9.5.13
    namespace: argocd
    values:
      - values.yaml.gotmpl
    strategicMergePatches:
      - patches/repo-server.yaml
    transformers:
      - apiVersion: builtin
        kind: LabelTransformer
        metadata:
          name: notImportantHere
        labels:
          argocd.argoproj.io/instance: helios-argocd
        fieldSpecs:
          - path: metadata/labels
            create: true
