repositories:
  - name: argo-helm
    url: https://argoproj.github.io/argo-helm
releases:
  - name: argocd
    chart: argo-helm/argo-cd
    version: v9.3.4
    namespace: argocd
    values:
      - values.yaml.gotmpl
    strategicMergePatches:
      - patches/repo-server.yaml
